/* Purely visual styling (“look-and-feel”) for a component. */

#thelog-branding .uk-logo img {
  max-width: 90px;
}

.projected-stats {
  display: none;
}

.uk-comment-list>:nth-child(n+2) {
  margin-top: 1rem;
}
